.addNewTask{
    background: #25273C;
    padding: 1rem;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: white;
}

.icon{
    font-size: 1.5rem;
    cursor: pointer;
}

.addNewTask input{
    padding: 0.5rem 0;
    border: none;
    color:white;
    width: 80%;
    background-color: transparent;
    outline: none;
}

.addNewTask button{    
    color: white;
    background-color: transparent;
    border: none;
}